body{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    justify-content: center;
}

.jumbotron-1{
    display: flex;
    width: 100vw;
    height: 60vh;
    background-image: url(../shop/shop_asset/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: end;
}

.delivery{
    display: flex;
    position: relative;
    margin-bottom: -140px;
    width: 40%;
    height: 60%;
    border-radius: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.go-delivery{
    display: flex;
    position: relative;
    background-color: #FFD74B;
    height: 27%;
    width: 90%;
    border-radius: 100px;
    margin-top: 3%;
    font-weight: bold;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.enter-address{
    display: flex;
    position: relative;
    width: 85%;
    height: 10%;
    margin-top: 6%;
}

.search{
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: -2%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.search-field{
    width: 60%;
    height: 30%;
    margin-right: 4%;
    background-color: white;
    border: 2px solid #FFD74B;
    border-radius: 30px;
}

.search-icon{
    width: 1.5vw;
    margin-left: 0.5vw;
    margin-top: 0.3vw;
}

.search-address{
    font-size: 1.2vw;
    margin-top: -1.7vw;
    margin-left: 4vw;
    opacity: 50%;
}

.search-button{
    width: 25%;
    height: 30%;
    background-color: black;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.search-button > p{
    font-size: 1.2vw;
    margin-top: 0.5vw;
    color: white;
}

.or{
    /* width: 100%; */
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: -10%;
    margin-top: -12%;
}

.or > img{
    width: 42%;
}

.location-use{
    display: flex;
    position: relative;
    width: 85%;
    margin-top: 3%;
}

.location-use::before{
    content: url(../shop/shop_asset/location-icon.png);
    width: 10%;
    height: 10%;
    scale: 0.7;
    margin-top: 0.1%;
}

.jumbotron-2{
    display: flex;
    width: 100vw;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

.jumbotron-2 > p{
    margin-top: 32%;
}

.jumbotron-2 > img{
    margin-top: 1.2%;
    width: 60%;
}

.jumbotron-3{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: -3%;
}

.category{
    display: flex;
    width: 100%;
    padding-left: 0.1%;
    padding-right: 0.1%;
    margin-top: 2%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    gap: 2%
}

.category-1 {
    width: 10%;
    height: 160%;
    border-radius: 50px;
    background-color: #FFD74B;
    color: white;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-2 {
    width: 10%;
    height: 160%;
    border-radius: 50px;
    background-color: white;
    color: #FFD74B;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-3{
    width: 10%;
    height: 160%;
    border-radius: 50px;
    background-color: white;
    color: #FFD74B;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer{
    display: flex;
    position: absolute;
    background-color: white;
    top: 580vh;
}

.footer > p{
    color: white;
}

.es-kepal-milo{
    display: flex;
    position: relative;
    margin-top: -35vh;
    margin-left: 10vh;
    width: 26vw;
    height: 30vw;
    font-size: 2.2vw;
    border-radius: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.5);
    font-weight: bold;
}

.odading{
    display: flex;
    position: relative;
    margin-top: -62.6vh;
    margin-left: 75vh;
    width: 26vw;
    height: 30vw;
    font-size: 2.2vw;
    border-radius: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.5);
    font-weight: bold;
}

.corndog{
    display: flex;
    position: relative;
    margin-top: -62.6vh;
    margin-left: 140vh;
    width: 26vw;
    height: 30vw;
    font-size: 2.2vw;
    border-radius: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.5);
    font-weight: bold;
}

.dalgona-coffee{
    display: flex;
    position: relative;
    margin-top: 10vh;
    margin-left: 10vh;
    width: 26vw;
    height: 30vw;
    font-size: 2.2vw;
    border-radius: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.5);
    font-weight: bold;
}

.iced-boba-tea{
    display: flex;
    position: relative;
    margin-top: -62.6vh;
    margin-left: 75vh;
    width: 26vw;
    height: 30vw;
    font-size: 2.2vw;
    border-radius: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.5);
    font-weight: bold;
}

.es-cokelat-cocol{
    display: flex;
    position: relative;
    margin-top: -62.6vh;
    margin-left: 140vh;
    width: 26vw;
    height: 30vw;
    font-size: 2.2vw;
    border-radius: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.5);
    font-weight: bold;
}

.pisang-nugget{
    display: flex;
    position: relative;
    margin-top: 10vh;
    margin-left: 10vh;
    width: 26vw;
    height: 30vw;
    font-size: 2.2vw;
    border-radius: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.5);
    font-weight: bold;
}

.indomie-donat{
    display: flex;
    position: relative;
    margin-top: -62.6vh;
    margin-left: 75vh;
    width: 26vw;
    height: 30vw;
    font-size: 2.2vw;
    border-radius: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.5);
    font-weight: bold;
}

.dessert-box{
    display: flex;
    position: relative;
    margin-top: -62.6vh;
    margin-left: 140vh;
    width: 26vw;
    height: 30vw;
    font-size: 2.2vw;
    border-radius: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.5);
    font-weight: bold;
}

.croffle{
    display: flex;
    position: relative;
    margin-top: 10vh;
    margin-left: 10vh;
    width: 26vw;
    height: 30vw;
    font-size: 2.2vw;
    border-radius: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.5);
    font-weight: bold;
}

.garlic-bread{
    display: flex;
    position: relative;
    margin-top: -62.6vh;
    margin-left: 75vh;
    width: 26vw;
    height: 30vw;
    font-size: 2.2vw;
    border-radius: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.5);
    font-weight: bold;
}

.salmon-mentai{
    display: flex;
    position: relative;
    margin-top: -62.6vh;
    margin-left: 140vh;
    width: 26vw;
    height: 30vw;
    font-size: 2.2vw;
    border-radius: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.5);
    font-weight: bold;
}

.spaghetti-brulee{
    display: flex;
    position: relative;
    margin-top: 10vh;
    margin-left: 10vh;
    width: 26vw;
    height: 30vw;
    font-size: 2.2vw;
    border-radius: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.5);
    font-weight: bold;
}

.bomboloni{
    display: flex;
    position: relative;
    margin-top: -62.6vh;
    margin-left: 75vh;
    width: 26vw;
    height: 30vw;
    font-size: 2.2vw;
    border-radius: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.5);
    font-weight: bold;
}

.mozza-sticks{
    display: flex;
    position: relative;
    margin-top: -62.6vh;
    margin-left: 140vh;
    width: 26vw;
    height: 30vw;
    font-size: 2.2vw;
    border-radius: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.5);
    font-weight: bold;
}

.box1{
    width: 100%;
    height: 50%;
    margin-top: -53%;
    background-image: url("../shop/shop_asset/es\ kepal\ milo.png");
    background-position: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.box2{
    width: 100%;
    height: 50%;
    margin-top: -53%;
    background-image: url("shop_asset/odading.png");
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.box3{
    width: 100%;
    height: 50%;
    margin-top: -53%;
    background-image: url("shop_asset/corndog.png");
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.box4{
    width: 100%;
    height: 50%;
    margin-top: -53%;
    background-image: url("shop_asset/dalgona\ coffee.png");
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.box5{
    width: 100%;
    height: 50%;
    margin-top: -53%;
    background-image: url("shop_asset/iced\ boba\ tea.png");
    background-color: #FFD74B;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.box6{
    width: 100%;
    height: 50%;
    margin-top: -53%;
    background-image: url("shop_asset/es\ cokelat\ cocol.png");
    background-color: #FFD74B;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.box7{
    width: 100%;
    height: 50%;
    margin-top: -53%;
    background-image: url("shop_asset/pisang\ nugget.png");
    background-color: #FFD74B;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.box8{
    width: 100%;
    height: 50%;
    margin-top: -53%;
    background-image: url("shop_asset/indomie\ donat.png");
    background-color: #FFD74B;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.box9{
    width: 100%;
    height: 50%;
    margin-top: -53%;
    background-image: url("shop_asset/dessert\ box.png");
    background-color: #FFD74B;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.box10{
    width: 100%;
    height: 50%;
    margin-top: -53%;
    background-image: url("shop_asset/croffle.png");
    background-color: #FFD74B;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.box11{
    width: 100%;
    height: 50%;
    margin-top: -53%;
    background-image: url("shop_asset/garlic\ bread.png");
    background-color: #FFD74B;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.box12{
    width: 100%;
    height: 50%;
    margin-top: -53%;
    background-image: url("shop_asset/salmon\ mentai.png");
    background-color: #FFD74B;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.box13{
    width: 100%;
    height: 50%;
    margin-top: -53%;
    background-image: url("shop_asset/spaghetti\ brulee.png");
    background-color: #FFD74B;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.box14{
    width: 100%;
    height: 50%;
    margin-top: -53%;
    background-image: url("shop_asset/bomboloni.png");
    background-color: #FFD74B;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.box15{
    width: 100%;
    height: 50%;
    margin-top: -53%;
    background-image: url("shop_asset/mozza\ sticks.png");
    background-color: #FFD74B;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.es-kepal-milo > p{
    margin-top: 1.5vw;
}

.odading > p{
    margin-top: 1.5vw;
}

.corndog > p{
    margin-top: 1.5vw;
}

.dalgona-coffee > p{
    margin-top: 1.5vw;
}

.iced-boba-tea > p{
    margin-top: 1.5vw;
}

.es-cokelat-cocol > p{
    margin-top: 1.5vw;
}

.pisang-nugget > p{
    margin-top: 1.5vw;
}

.indomie-donat > p{
    margin-top: 1.5vw;
}

.dessert-box > p{
    margin-top: 1.5vw;
}

.croffle > p{
    margin-top: 1.5vw;
}

.garlic-bread > p{
    margin-top: 1.5vw;
}

.salmon-mentai > p{
    margin-top: 1.5vw;
}

.spaghetti-brulee > p{
    margin-top: 1.5vw;
}

.bomboloni > p{
    margin-top: 1.5vw;
}

.mozza-sticks > p{
    margin-top: 1.5vw;
}